body
{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

header
{
  width: 100%;
  margin-bottom: 5px;
  font-size: 150%;
  background-color: rgb(32,176,246);
  border-bottom: 1px solid gray;
}

h1
{
  display: flex;
  justify-content: center;
  color: white;
  margin: 20px;
}

h1:hover
{
  text-shadow: 1px 1px 1px gray;
}

h3,p
{
  margin-left: 20px;
}

div
{
  margin: auto;
  margin-top: 20px;
}

button
{
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 105px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
}

button:hover
{
  color: rgb(32,176,246);
}
