header
{
  margin: 10px;
  padding: 5px;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

h1
{
  display: flex;
  justify-content: center;
}

body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div
{
  margin: auto;
}

button
{
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

button.hover
{
  box-shadow: 2px 2px 3px black;
}
